aiohttp==3.10.2
beautifulsoup4==4.12.3
fastapi==0.115.4
firecrawl==1.4.0
loguru==0.7.2
playwright==1.41.0
plotly==5.18.0
psutil==5.9.8
pydantic==2.9.2
pydantic_settings==2.6.1
pytest==7.4.4
python-dotenv==1.0.1
streamlit==1.29.0
uvicorn==0.32.0
